/* Container for 2 Blocks right, left */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  gap: 24px;
}

/* Main Container Hero */
.heroContainer {
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin-left: auto;
  margin-right: auto;
}

/* Left Block */
.leftBlock {
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  border-radius: 30px;
  width: 100%;
  max-width: 310px;
  height: 450px;
}

.titleHero {
  padding-top: 28px;
  padding-bottom: 10px;
  margin-left: 28px;
  font-weight: 500;
  font-size: 26px;
  line-height: 56px;
  letter-spacing: -2%;

  width: 250px;
}

.markerText {
  background-color: #fbe9ba;
  border-radius: 10px;
  font-weight: 400;
  font-style: italic;
}

.descriptionHero {
  margin-left: 27px;
  padding-bottom: 34px;
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -2%;

  width: 280px;
}

.btnHero {
  width: 150px;
  margin-left: 28px;
  padding: 16px 18px 16px 18px;
  text-align: center;
  background-color: #f4c550;
  outline: none;
  border: none;
  border-radius: 12px;

  font-size: 18px;
  font-weight: 700;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.btnHero:hover {
  cursor: pointer;
  background-color: #fbe9ba;
}

.btnHero:focus {
  cursor: pointer;
  background-color: #fbe9ba;
}
/* Right Block */
.imgRightBlock {
  max-width: 310px;
  width: 100%;
}

/* Review Block */
.reviewBlock {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 32px;
}

.listReview {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
  max-width: 310px;
  padding: 20px 10px 20px 10px;
  border: 3px dashed #f4c550;
  border-radius: 30px;
}

.listItemReview {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  gap: 16px;
}

.reviewTitle {
  font-weight: 500;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: -2%;
}

.reviewDescription {
  width: 96px;
  text-align: left;
  color: #121417b2;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -2%;
}

@media (min-width: 760px) {
  .container {
    display: flex;
    flex-direction: row;
  }

  .heroContainer {
    flex-direction: column;
  }

  .leftBlock {
    max-width: 720px;
    height: 530px;
  }

  /* Right Block */
  .imgRightBlock {
    max-width: 720px;
  }

  .titleHero {
    padding-top: 98px;
    padding-bottom: 32px;
    margin-left: 68px;
    font-size: 43px;

    width: 550px;
  }

  .markerText {
    background-color: #fbe9ba;
    border-radius: 10px;
    font-weight: 400;
    font-style: italic;
  }

  .descriptionHero {
    margin-left: 68px;
    padding-bottom: 64px;
    font-size: 16px;

    width: 471px;
  }

  .btnHero {
    width: 267px;
    margin-left: 68px;
    padding: 16px 88px 16px 88px;
    background-color: #f4c550;
    outline: none;
    border: none;
    border-radius: 12px;

    font-size: 18px;
    font-weight: 700;
    transition: background-color 0.2s ease, color 0.2s ease;
  }

  .btnHero:hover {
    cursor: pointer;
    background-color: #fbe9ba;
  }

  .btnHero:focus {
    cursor: pointer;
    background-color: #fbe9ba;
  }

  .reviewBlock {
    padding-top: 24px;
    padding-bottom: 32px;
  }

  .listReview {
    display: flex;
    flex-wrap: nowrap;
    max-width: 1110px;
    gap: 100px;
    padding: 40px 110px 40px 110px;
    border: 3px dashed #f4c550;
    border-radius: 30px;
  }

  .listItemReview {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

  .reviewTitle {
    font-weight: 500;
    font-size: 27px;
    line-height: 32px;
    letter-spacing: -2%;
  }

  .reviewDescription {
    width: 96px;
    color: #121417b2;
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -2%;
  }
}
