.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  gap: 24px;
}

.heroContainer {
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin-left: auto;
  margin-right: auto;
}

.leftBlock {
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  border-radius: 30px;
  width: 720px;
  height: 530px;
}

.titleHero {
  padding-top: 98px;
  padding-bottom: 32px;
  margin-left: 68px;
  font-weight: 500;
  font-size: 43px;
  line-height: 56px;
  letter-spacing: -2%;

  width: 550px;
}

.markerText {
  background-color: #fbe9ba;
  border-radius: 10px;
  font-weight: 400;
  font-style: italic;
}

.descriptionHero {
  margin-left: 68px;
  padding-bottom: 64px;
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -2%;

  width: 471px;
}

.btnHero {
  width: 267px;
  margin-left: 68px;
  padding: 16px 88px 16px 88px;
  background-color: #f4c550;
  outline: none;
  border: none;
  border-radius: 12px;

  font-size: 18px;
  font-weight: 700;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.btnHero:hover {
  cursor: pointer;
  background-color: #fbe9ba;
}

.btnHero:focus {
  cursor: pointer;
  background-color: #fbe9ba;
}

.reviewBlock {
  padding-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.listReview {
  display: flex;
  gap: 100px;
  padding: 40px 110px 40px 110px;
  border: 3px dashed #f4c550;
  border-radius: 30px;
}

.listItemReview {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.reviewTitle {
  font-weight: 500;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: -2%;
}

.reviewDescription {
  width: 96px;
  color: #121417b2;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -2%;
}
