/*Teacher Container */
.teacherContainer {
  max-width: 380px;
  width: 100%;
  background-color: #fff;
  border-radius: 24px;
  padding: 24px;
}

/* Card Content */
.cardContent {
  display: flex;
  gap: 5px;
}

/* Photo Container PK */
.teacherPhotoContainerPK {
  display: none;
}

/* Photo PK */
.teacherPhotoPK {
  display: none;
}

/* Photo Container MB */
.teacherPhotoContainerMB {
  display: flex;
  width: 70px;
  height: 70px;
  border: 1px solid #f4c550;
  border-radius: 20%;
  padding: 5px 5px 5px 5px;
}

.teacherPhotoMB {
  display: flex;
  width: 70px;
  height: 70px;
  border-radius: 20%;
}

/* Info Container */
.infoContainer {
  flex: 1;
  display: flex;
  flex-direction: column;

  gap: 8px;
}

/* Header Container */
.headerContainer {
  display: flex;
  align-items: center;
  gap: 0px;
  flex-wrap: wrap;
  width: 200px;
}

/* Teacher Info */
.teacherInfo {
  display: flex;
  font-weight: 500;
  gap: 10px;
  flex-wrap: wrap;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;

  color: #121417;
}

.teacherInfoItem {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

/* Icon Book */
.iconBook {
  width: 16px;
  height: 16px;
}

/* Lesson Price */
.lessonPrice {
  color: #38cd3e;
}

/* Teacher Favorite Icon */
.teacherFavoriteIcon {
  height: 30px;
  width: 30px;
  color: black;
  transition: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.teacherFavoriteIcon:hover {
  color: #f4c550;
}

.teacherFavoriteIcon:focus {
  color: #f4c550;
}

.active {
  color: #f4c550;
}
.starIcon {
  color: #f4c550;
}

/* Title Languages */
.languagesTitle {
  color: #8a8a89;
  font-size: 14px;
}

/* Teacher Name */
.teacherName {
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0%;
  padding-bottom: 5px;
}

/* Languages */
.languages {
  color: #8a8a89;
  display: flex;
  gap: 4px;
  font-family: Roboto;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
}

.markerLanguage {
  font-family: Roboto;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
  text-decoration: underline;
  color: black;
}

/* Lessons Info */
.lessonInfo {
  display: none;
}

.lessonsInfoDescription {
  display: none;
}

/* Conditions */
.conditions {
  display: none;
}

.conditionsDescription {
  display: none;
}

.readMoreBtn {
  display: flex;
  width: 78px;
  background-color: white;
  border: none;
  color: black;

  font-family: Roboto;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
  text-decoration: underline;
  text-decoration-style: solid;

  padding-top: 16px;
  cursor: pointer;
}

/* Language Levl List */
.languageLevelsList {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 8px;
  padding-top: 12px;
}

/* Language Levl List Item */
.languageLevlItem {
  padding: 8px 12px 8px 12px;

  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0%;

  border: 1px solid #12141733;
  border-radius: 35px;
}

.languageLevlItem:first-child {
  background-color: #f4c550;
  border-color: #f4c550;
}

/* Reviewer Container */
.reiewsBlockContainer {
  display: flex;
  padding-top: 10px;
  gap: 32px;
  flex-direction: column;
}

.reviewerContainer {
  display: flex;
  flex-direction: column;
}

.reviewerName {
  font-family: Roboto;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;

  color: #8a8a89;
}

.reviewerRating {
  display: flex;
  gap: 8px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #121417;
}

.reviewerComment {
  font-family: Roboto;
  font-weight: 500;
  width: 350px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #121417;
}

/* Favorite Add Button */
.favoriteAddBtn {
  background-color: white;
  border: none;
}

.favoriteAddBtn:hover {
  cursor: pointer;
}

/* Modal */

.modalWindowOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.modalWindow {
  display: flex;
  background-color: white;
  border-radius: 20px;
  max-width: 400px;
  width: 100%;
  flex-direction: column;
}

.modalTitle {
  display: flex;
  justify-content: center;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 20px;
}

.modalBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 10px 10px 10px 10px;
  border-radius: 20px;
  width: 150px;
  color: black;
  background-color: #f4c550;
  margin-bottom: 20px;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

.modalBtn:hover {
  cursor: pointer;
  background-color: #ffdc86;
}

.modalBtn:focus {
  cursor: pointer;
  background-color: #ffdc86;
}

/* Close Modal */

.closeModalWindow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  margin-left: auto;
  margin-top: 20px;
  margin-right: 10px;
  background-color: white;
  border: none;
  cursor: pointer;
  transition: color 0.2s ease;
}

.closeIcon {
  width: 27px;
  height: 27px;
  color: #121417;
}

.closeIcon:hover {
  color: #f4c550;
}

.closeIcon:focus {
  color: #f4c550;
}

/* Booking Form Button */
.bookingFormBtn {
  background-color: #f4c550;
  padding: 10px 12px 10px 12px;
  width: 232px;
  color: #121417;
  border-radius: 12px;
  border: 1px solid #f4c550;

  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;

  transition: background-color 0.2s ease;
}

.bookingFormBtn:hover {
  cursor: pointer;
  background-color: #ffdc86;
}

.bookingFormBtn:focus {
  cursor: pointer;
  background-color: #ffdc86;
}

/* Dekstop */
@media (min-width: 1280px) {
  .teacherContainer {
    max-width: 1184px;
    width: 1184px;
    background-color: #fff;
    border-radius: 24px;
    padding: 24px;
  }

  .cardContent {
    display: flex;
    gap: 20px;
  }

  /* Photo Container */
  .teacherPhotoContainerPK {
    display: flex;
    border-radius: 50%;
    border: 3px solid #fbe9ba;
    min-width: 96px;
    height: 96px;
    padding: 12px 12px 12px 12px;
    overflow: hidden;
  }

  /* Photo */
  .teacherPhotoPK {
    display: flex;
    width: 96px;
    height: px;
    border-radius: 50%;
    object-fit: cover;
  }

  .teacherInfo {
    display: flex;
    flex-wrap: nowrap;
    font-weight: 500;
    gap: 50px;
  }

  .teacherName {
    font-family: Roboto;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0%;
    padding-bottom: 30px;
  }

  /* Header Container */
  .headerContainer {
    display: flex;
    align-items: center;
    gap: 100px;
    flex-wrap: nowrap;
    width: 100%;
  }

  /* Lessons Info */
  .lessonInfo {
    color: #8a8a89;
    display: flex;
    gap: 4px;
    font-family: Roboto;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
  }

  .lessonsInfoDescription {
    font-family: Roboto;
    display: flex;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: black;
  }

  /* Conditions */
  .conditions {
    color: #8a8a89;
    display: flex;
    gap: 4px;
    font-family: Roboto;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
  }

  .conditionsDescription {
    display: flex;
    font-family: Roboto;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: black;
  }

  /* Language Levl List */
  .languageLevelsList {
    display: flex;
    gap: 8px;
    padding-top: 32px;
    width: 100%;
  }

  /* Language Levl List Item */
  .languageLevlItem {
    justify-content: none;
  }

  /* Photo Container MB */
  .teacherPhotoContainerMB {
    display: none;
  }

  .teacherPhotoMB {
    display: none;
  }

  .reviewerComment {
    width: 100%;
    font-size: 16px;
  }

  /* Booking Form Button */
  .bookingFormBtn {
    padding: 16px 48px 16px 48px;
  }
}
