.containerDekstop {
  display: none;
}

.containerPhone {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 16px;
  padding-right: 16px;
}

.navigation {
  position: fixed;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  width: 100%;
  height: 100vh;
}

/* Header Phone */
.headerPhone {
  display: flex;
  padding: 16px 11px 0px 16px;
}

.menu {
  display: flex;
  padding-top: 98px;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Logo Icon */

.logoLink {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #121417;
  font-family: Roboto;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -2%;
}

.logoLinkPhone {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #121417;
  font-family: Roboto;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -2%;
}

.logoIcon {
  padding-right: 8px;
}

/* Hamburger Button */

.humburgerBtn {
  background-color: white;
  border: none;
}

.humburgerIcon {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
}

/* Close Button */

.closeBtn {
  display: flex;
  margin-left: auto;
  background-color: white;
  border: none;
}

.closeIcon {
  color: black;
  width: 35px;
  height: 35px;
}

/* Pages */

.pages {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* Links */
.link {
  color: #121417;
  transition: color 0.2s ease, color 0.2s ease;
}

/* Authorization */

.authorization {
  padding-top: 20px;
  display: flex;
  justify-items: center;
  flex-direction: column;
  gap: 15px;
}

.loginLink {
  background-color: white;
  padding: 12px 0px 12px 0px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #121417;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  transition: color 0.2s ease, color 0.2s ease;
}

.loginItem {
  display: flex;
  justify-content: center;
}

.loginIcon {
  padding-right: 2px;
  color: #f4c550;
  width: 20px;
  height: 20px;
}

.registrationLink {
  display: flex;
  text-align: center;
  color: White;
  background-color: #121417;
  border: 1px solid #121417;
  border-radius: 12px;
  font-size: 16px;
  padding-left: 39px;
  padding-right: 39px;
  padding: 12px 20px 12px 20px;
  transition: background-color 0.2s ease, color 0.2s ease;
}

/* Dekstop */
@media (min-width: 1280px) {
  .containerPhone {
    display: none;
  }

  .headerPhone {
    display: none;
  }

  /* Authorization */
  .authorization {
    padding-top: 0px;
  }

  .containerDekstop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 128px;
    padding-right: 128px;
  }

  /* Pages links */
  .pages {
    flex-direction: row;
  }

  .link:hover {
    color: #ffdc86;
  }

  .link:focus {
    color: #ffdc86;
  }

  /* Authorization links */
  .authorization {
    flex-direction: row;
  }

  .logoLink {
    margin-bottom: 0px;
  }

  .loginLink {
    cursor: pointer;
    margin-bottom: 0px;
  }

  .loginLink:hover {
    color: #ffdc86;
  }

  .loginLink:focus {
    color: #ffdc86;
  }

  .registrationLink {
    cursor: pointer;
  }

  .registrationLink:hover {
    background-color: white;
    color: #121417;
    font-weight: 600;
  }

  .registrationLink:focus {
    background-color: white;
    color: #121417;
    font-weight: 600;
  }
}
