.containerDekstop {
  display: none;
}

.containerPhone {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 16px;
  padding-right: 16px;
}

.navigation {
  position: fixed;
  top: 7%;
  left: 47%;
  transform: translateX(-50%);
  padding: 110px 110px;
  background-color: white;
  width: 100%;
  max-width: 300px;
  height: 100vh;
}

.menu {
  display: flex;
  padding-top: 28px;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Logo Icon */

.logoLink {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #121417;
  font-family: Roboto;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -2%;
}

.logoIcon {
  padding-right: 8px;
}

/* Hamburger Button */

.humburgerBtn {
  background-color: white;
  border: none;
}

.humburgerIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
}

/* Close Button */

.closeBtn {
  display: flex;
  margin-left: auto;
  background-color: white;
  border: none;
}

.closeIcon {
  width: 30px;
  height: 30px;
}

/* Pages */

.pages {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* Links */
.link {
  color: #121417;
  transition: color 0.2s ease, color 0.2s ease;
}

/* Authorization */

.authorization {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.loginLink {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #121417;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
}

.loginIcon {
  padding-right: 2px;
  color: #f4c550;
  width: 20px;
  height: 20px;
}

.registrationLink {
  text-align: center;
  color: White;
  background-color: #121417;
  border: 1px solid #121417;
  border-radius: 12px;
  padding-left: 39px;
  padding-right: 39px;
  padding: 10px 10px 10px 10px;
  transition: background-color 0.2s ease, color 0.2s ease;
}

/* Dekstop */
@media (min-width: 1280px) {
  .containerPhone {
    display: none;
  }

  .containerDekstop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 128px;
    padding-right: 128px;
  }

  /* Pages links */
  .pages {
    flex-direction: row;
  }

  .link:hover {
    color: #f4c550;
  }

  .link:focus {
    color: #f4c550;
  }

  /* Authorization links */

  .authorization {
    flex-direction: row;
  }

  .registrationLink:hover {
    background-color: white;
    color: #121417;
    font-weight: 600;
  }

  .registrationLink:focus {
    background-color: white;
    color: #121417;
    font-weight: 600;
  }
}
