/*  Booking Form */
.overlayForm {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerForm {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 70vh;
  width: 350px;
  padding-left: 64px;
  border-radius: 50px;
}

.titleForm {
  padding-top: 64px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -2%;
}

.descriptionForm {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0%;
  width: 300px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #121417cc;
}

/* Teacher */
.containerTeacher {
  display: flex;
}

.teacherPhoto {
  width: 44px;
  height: 44px;
  border-radius: 100px;
  margin-right: 14px;
}

.titleTeacher {
  font-family: Roboto;
  font-weight: 500;
  font-style: Medium;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0%;
  color: #8a8a89;
}

.teacherName {
  font-family: Roboto;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #121417;
}
