/*  Booking Form */
/* Mobile */

/* Overlay Modal */
.overlayForm {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Container */
.containerForm {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 620px;
  width: 350px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 50px;
}

/* Title Form */
.titleForm {
  font-family: Roboto;
  font-weight: 500;
  font-size: 25px;
  line-height: 48px;
  letter-spacing: -2%;
  padding: 0px;
  margin: 0px;
}

/* Desription Form */
.descriptionForm {
  display: none;
}

/* Teacher */
.containerTeacher {
  display: flex;
}

/* Teacher Photo */
.teacherPhoto {
  width: 44px;
  height: 44px;
  border-radius: 100px;
  margin-right: 14px;
}

/* Teacher Title */
.titleTeacher {
  font-family: Roboto;
  font-weight: 500;
  font-style: Medium;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0%;
  color: #8a8a89;
}

/* Teacher Name */
.teacherName {
  font-family: Roboto;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #121417;
}

/* Title Form Teacher */
.titleFormTeach {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Roboto;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  color: #121417;
  line-height: 32px;
  letter-spacing: 0%;
}

/* List */
.radioList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* List Item */
.listItem {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  color: #121417;
}

/* Teacher Information Container */
.containerFormTeach {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 20px;
}

/* Teacher Form Input */
.teacherInput {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0%;
  color: #121417;
  width: 300px;
  padding: 12px 18px 12px;
  border: 1px solid #1214171a;
  border-radius: 12px;
}

/* Submit Button */
.btnForm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  font-family: Roboto;
  width: 300px;
  background-color: #f4c550;
  border: 1px solid #f4c550;
  border-radius: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 12px;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  color: #121417;
  cursor: pointer;
}

/* Button Hover */
.btnForm:hover {
  background-color: #ffdc86;
  transition: background-color 0.2s ease;
}

/* Close Modal Button */
.closeBtn {
  cursor: pointer;
  display: flex;
  margin-left: auto;
  background-color: white;
  border-radius: 12px;
  border: none;
  outline: none;
  padding: 0px;
  margin-top: 15px;
  margin-bottom: 0px;
  margin-right: 30px;
  color: #121417;
  transition: color 0.2s ease;
}

/* Close Icon */
.closeIcon {
  width: 35px;
  height: 35px;
}

/* Close Icon Hover */
.closeBtn:hover {
  color: #f4c550;
}

/* Dekstop */
@media (min-width: 1280px) {
  /*  Booking Form */

  /* Overlay Modal */
  .overlayForm {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Container */
  .containerForm {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 750px;
    width: 400px;
    padding-left: 50px;
    padding-right: 20px;
    padding-top: 10px;
    border-radius: 50px;
  }

  /* Title Form */
  .titleForm {
    font-family: Roboto;
    font-weight: 500;
    font-size: 25px;
    line-height: 48px;
    letter-spacing: -2%;
    padding: 0px;
    margin: 0px;
  }

  /* Description Form */
  .descriptionForm {
    display: flex;
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0%;
    width: 350px;
    padding-top: 5px;
    padding-bottom: 10px;
    color: #121417cc;
  }

  /* Submit Button Form */
  .btnForm {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Roboto;
    width: 350px;
    background-color: #f4c550;
    border: 1px solid #f4c550;
    border-radius: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 12px;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    color: #121417;
    cursor: pointer;
  }
}

/* Shema Validation ErrorMessage */
.errorMessage {
  font-size: 12px;
  color: red;
}
