.modalOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Modal */
.modal {
  display: flex;
  background-color: white;
  border-radius: 20px;
  max-width: 500px;
  width: 100%;
  flex-direction: column;
}

/* Register title */
.registerTitle {
  padding-top: 20px;
  padding-left: 64px;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -2%;
}

/* Register Description */
.registerDescription {
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 64px;
  padding-right: 64px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0%;
  color: #121417cc;
}

/* Register Form */

.registerForm {
  padding-left: 64px;
  padding-right: 64px;
  display: flex;
  flex-direction: column;
}
/* Name Field */
.nameField {
  outline: none;
  border: 1px solid #1214171a;
  border-radius: 12px;
  padding: 16px 16px 16px 16px;
  font-size: 16px;
}

/* Hover, Focus, Active / Name Field  */
.nameField:hover {
  border: 1px solid #ffdc86;
}

.nameField:focus {
  border: 1px solid #ffdc86;
}
.nameField:active {
  border: 1px solid #ffdc86;
}

/* Email Field */
.emailField {
  margin-top: 24px;
  outline: none;
  border: 1px solid #1214171a;
  border-radius: 12px;
  padding: 16px 16px 16px 16px;
  font-size: 16px;
}
/* Validation */
.schemaValidation {
  color: #c40202;
  font-size: 12px;
  margin-top: 4px;
}

/* Hover, Focus, Active / Email Field  */
.emailField:hover {
  border: 1px solid #ffdc86;
}

.emailField:focus {
  border: 1px solid #ffdc86;
}
.emailField:active {
  border: 1px solid #ffdc86;
}

.passwordField {
  outline: none;
  border: 1px solid #1214171a;
  border-radius: 12px;
  padding: 16px 16px 16px 16px;
  font-size: 16px;
  margin-top: 24px;
}

/* Hover, Focus, Active / Password Field  */
.passwordField:hover {
  border: 1px solid #ffdc86;
}

.passwordField:focus {
  border: 1px solid #ffdc86;
}
.passwordField:active {
  border: 1px solid #ffdc86;
}

/* Register submit button */
.registerSubmit {
  margin-top: 30px;
  cursor: pointer;
  padding: 16px;
  background-color: #f4c550;
  color: black;
  border: none;
  border-radius: 12px;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  margin-bottom: 64px;
  transition: background-color 0.2s ease, color 0.2s ease;
}
/* Hover, Focus, Active / Submit Button   */
.registerSubmit:hover {
  background-color: #ffdc86;
}

.registerSubmit:focus {
  background-color: #ffdc86;
}

.registerSubmit:active {
  background-color: #ffdc86;
}

.registerSubmit:disabled {
  opacity: 0.5;
}

/* Close Button */
.closeBtn {
  cursor: pointer;
  display: flex;
  margin-left: auto;
  background-color: white;
  border-radius: 12px;
  border: none;
  outline: none;
}

.closeIcon {
  color: black;
  padding-top: 25px;
  padding-right: 25px;
  width: 35px;
  height: 35px;
  transition: color 0.2s ease, color 0.2s ease;
}

.closeIcon:hover {
  color: #ffdc86;
}
