/* Container */
.switcherContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 96px;
  padding-bottom: 32px;
  gap: 20px;
}

/* Label */

.switcherContainer label {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.levlLabel {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0%;
  vertical-align: middle;

  color: #8a8a89;
}

.languagesLabel {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0%;
  vertical-align: middle;

  color: #8a8a89;
}

.priceLabel {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0%;
  vertical-align: middle;

  color: #8a8a89;
}

.buttonLabel {
  font-family: Roboto;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0%;
  vertical-align: middle;

  color: #8a8a89;
}

/* Selectors */

.selectorLanguages {
  display: flex;
  justify-content: center;
  padding: 14px 18px 14px 18px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0%;
  vertical-align: middle;

  color: #121417;
  background-color: #ffffff;
  border: 1px solid white;
  border-radius: 14px;
  cursor: pointer;
}

.selectorLevls {
  padding: 14px 0px 14px 18px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0%;
  vertical-align: middle;

  color: #121417;
  background-color: #ffffff;
  border: 1px solid white;
  border-radius: 14px;
  cursor: pointer;
}

.selectorPrice {
  display: flex;
  padding: 14px 18px 14px 18px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0%;
  vertical-align: middle;

  color: #121417;
  background-color: #ffffff;
  border: 1px solid white;
  border-radius: 14px;
  cursor: pointer;
}

/* Back Home Arrow */
.backHomeBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 18px 14px 18px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0%;
  vertical-align: middle;

  color: #121417;
  background-color: #ffffff;
  border: 1px solid white;
  border-radius: 14px;
  cursor: pointer;
  transition: all 0.2s ease;
}

/*  Icon Arrow Back */
.iconArrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
}

.iconArrow:hover {
  color: #f4c550;
}

.iconArrow:focus {
  color: #f4c550;
}
